<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
</head>
<body>
    <form action="/" method="get">
        <p>Scan this QR-Code for the 2FA with an Authentificator-App such as the Google Authenticator:</p>
        <img src=<%= qrCodeUrl %>><br>
        <button>Next</button>
    </form>
    
</body>
</html>