<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/employee" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="button_div">

    <form action="uploadNewEmployee" method="post">
        <label for="customId">Custom ID</label><br>
        <input type="number" name="customId"><br><br>

        <label for="salutation">Salutation</label><br>
        <input type="text" name="salutation"><br><br>

        <label for="name">Name</label><br>
        <input type="text" name="name"><br><br>

        <label for="surname">Surname</label><br>
        <input type="text" name="surname"><br><br>

        <label for="street">Street</label><br>
        <input type="text" name="street"><br><br>

        <label for="street_number">Street Number</label><br>
        <input type="number" name="street_number"><br><br>

        <label for="place">Place</label><br>
        <input type="text" name="place"><br><br>

        <label for="plz">PLZ</label><br>
        <input type="number" name="plz"><br><br>

        <label for="email">E-Mail</label><br>
        <input type="text" name="email"><br><br>

        <label for="tel_number">Tel. Number</label><br>
        <input type="text" name="tel_number"><br><br>

        <label for="departement">Departement</label><br>
        <input type="text" name="departement"><br><br>

        <label for="short_name">Short Name</label><br>
        <input type="text" name="short_name"><br><br>

        <button type="submit">Add new employee</button>
    </form>       
    </div>
</body>
</html>