<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body class="background">
	<h1 class="title">
		M226b Enterprise-Resource-Planning
	</h1>
	<hr>
	<div class="button_div">
		<form action="employee" method="get">
			<button>Employee</button>
		</form><br>
		<form action="customer" method="get">
			<button>Customer</button>
		</form><br>
		<form action="product" method="get">
			<button>Product</button>
		</form><br>
		<form action="order" method="get">
			<button>Order</button>
		</form>
	</div>
</body>
</html>