<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body class="background">
	<h1 class="title">
		M226b Enterprise-Resource-Planning
	</h1>
	<hr>
	<div>
		<form action="employee" method="get">
			<button>Employee</button>
		</form>
		<!-- <form action="/test" method="POST" enctype="multipart/form-data">
			<div class="welcome">
                <label name="login">Database testing</label><br>
				<input type="text" name="randomString" placeholder="randomString" value="" required>
				<br><button class="button" type="submit">Test</button>
			</div>
		</form> -->
	</div>
</body>
</html>