<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/overview" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="center">
        <form action="createNewOrder" method="get">
            <button>Create an order</button>
        </form><br>
        <form action="editOrder" method="get">
            <button>Edit an order</button>
        </form><br>
        <form action="deleteOrderItem" method="get">
            <button>Remove an order item</button>
        </form><br>
        <form action="listOrder" method="get">
            <button>List an order</button>
        </form><br>
        <!-- Confirm Orders will only show orders, that have the status open-->
        <form action="confirmOrder" method="get">
            <button>Confirm an order</button>
        </form><br>
        <!-- Cancel Orders will only show orders, that have the status closed-->
        <form action="cancelOrder" method="get"> 
            <button>Cancel an order</button>
        </form><br>
        <form action="listAllOrders" method="get"> 
            <button>List all orders</button>
        </form><br>
        <form action="generateInvoice" method="get"> 
            <button>Generate invoice</button>
        </form><br>
    </div>
</body>
</html>