<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/product" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="center">
        <form action="/deleteProduct" method="post">
            <label>Delete a product by Id</label><br>
            <input type="number" name="productId"><br><br>
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>