<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="button_div">
        <form action="enterNewProduct" method="get">
            <button>Enter a new product</button>
        </form><br>
        <form action="listProduct" method="get">
            <button>Search for an product</button>
        </form><br>
        <form action="listAllProducts" method="get">
            <button>List all product</button>
        </form><br>
        <form action="listAllProductsLowStock" method="get">
            <button>List products with low stock</button>
        </form><br>
        <form action="editProduct" method="get">
            <button>Edit an product</button>
        </form><br>
        <form action="deleteProduct" method="get">
            <button>Delete a product</button>
        </form><br>
        <form action="storageStatistics" method="get">
            <button>Storage Statistics</button>
        </form><br>
    </div>
</body>
</html>