<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="2FA" method="post">
        <label for="username">Authentification Token:</label><br><br>
        <input required type="text" id="tfaTokem" name="tfaToken" placeholder="Enter Authentification Token"><br><br>
        <button>Validate Token</button>
    </form>
</body>
</html>