@font-face {
    font-family: Blocky;
    src: url('E:\Berufsschule\Fonts\FFF Forward\FFFFORWA.TTF');
}

.title {
    font-family: Blocky;
    text-align: center;
}

.welcome {
    text-align: center;
}

.center {
    text-align: center;
}

@keyframes bgcolor {

    0% {
        background-color: #2849db
    }

    11% {
        background-color: #9426ee
    }

    22% {
        background-color: #ff33f5
    }

    33% {
        background-color: #ff3e3e
    }

    44% {
        background-color: #ff8432
    }

    55% {
        background-color: #fffc46
    }

    66% {
        background-color: #59ff4a
    }

    77% {
        background-color: #228d27
    }

    88% {
        background-color: #2f9c93
    }

    100% {
        background-color: #22549e
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}