<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="button_div">
        <form action="enterNewCustomer" method="get">
            <button>Enter a new customer</button>
        </form><br>
        <form action="listCustomer" method="get">
            <button>Search for an customer</button>
        </form><br>
        <form action="listAllCustomer" method="get">
            <button>List all customer</button>
        </form><br>
        <form action="editCustomer" method="get">
            <button>Edit an customer</button>
        </form><br>
        <form action="deleteCustomer" method="get">
            <button>Delete an customer</button>
        </form><br>
    </div>
</body>
</html>